@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
    --color1: #1F2833;
    --color2: #2F97C1;
    --color3: #1CCAD8;
    --color4: #37fde3;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
}

body {
    background: var(--color1);
}

nav {
    background: var(--color3);
}

#title-link {
    color: #fff;
    text-decoration: none;
}

main {
    background-color: var(--color2);
    border-radius: 3px;
}

.btn {
    color: #fff;
    background: var(--color3);
    text-shadow: 0px 0px 4px #000;
}

.btn:hover {
    background: var(--color4);
}

a.menu {
    display: block;
    margin-top: 40px;
    padding: 10px;
    font-size: 1.3rem;
}

.borde {
    border: #fff 2px solid;
}

.col-small {
    width: 10%;
}

.alinear td {
    vertical-align: middle;
}

.form-control:focus, .form-check-input:focus, .form-select:focus {
    border-color: var(--color3);
    box-shadow: 0 0 0 0.25rem var(--color4);
}

#container {
    background-color: var(--color2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

#datosIngresados, #estadisticas, #rangosPorAno {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#tablaDatos, #tablaEstadisticas {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#tablaDatos th, #tablaEstadisticas th,
#tablaDatos td, #tablaEstadisticas td {
    padding: 10px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff; /* Texto blanco */
}

#tablaDatos th, #tablaEstadisticas th {
    background-color: var(--color3); /* Fondo de cabecera */
    color: #fff; /* Texto blanco en la cabecera */
}

#tablaDatos tr:nth-child(even), #tablaEstadisticas tr:nth-child(even) {
    background-color: #2f3b44; /* Gris oscuro para filas pares */
}

#tablaDatos tr:nth-child(odd), #tablaEstadisticas tr:nth-child(odd) {
    background-color: #3a4a55; /* Gris más oscuro para filas impares */
}

#tablaDatos td, #tablaEstadisticas td {
    text-align: center;
}


#registrarOtro {
    display: inline-block;
    padding: 10px 20px;
    background: var(--color3);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
}

#registrarOtro:hover {
    background: var(--color4);
    text-decoration: underline;
}

#rango1, #rango2 {
    margin-bottom: 10px;
}
