@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
    --color1: #1F2833;
    --color2: #2F97C1;
    --color3: #1CCAD8;
    --color4: #37fde3;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
}

body {
    background: var(--color1);
}

nav {
    background: var(--color3);
}

#title-link {
    color: #fff;
    text-decoration: none;
}

main {
    background-color: var(--color2);
    border-radius: 3px;
}

.btn {
    color: #fff;
    background: var(--color3);
    text-shadow: 0px 0px 4px #000;
}

.btn:hover {
    background: var(--color4);
}

a.menu {
    display: block;
    margin-top: 40px;
    padding: 10px;
    font-size: 1.3rem;
}

.borde {
    border: #fff 2px solid;
}

.col-small {
    width: 10%;
}

.alinear td {
    vertical-align: middle;
}

.form-control:focus, .form-check-input:focus, .form-select:focus {
    border-color: var(--color3);
    box-shadow: 0 0 0 0.25rem var(--color4);
}